* {
    font-family: Helvetica, Arial, sans-serif
}

body {
    margin: 0;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-content: center;
    background-color:#1F2937;
    padding: 0px 64px;
}

footer {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 16px 64px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 16px;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
}

h3 {
    margin: 0px;
}

p {
    margin: 0px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 4px 16px;
    border-style: solid;
    font-weight: bold;
    width: 100px;
    height: 50px;
    font-size: 16px;
}

.blue-border button {
    border-color: #3882F6;
}

.white-border button {
    border-color: #E5E7EB;
    margin-left: auto;
    margin-right: 32px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.hero-secondary-text,
.hero-secondary-text * {
    font-size: 18px;
    color: #E5E7EB;
}

.information-header {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 16px 0px;
}

.center-text {
    text-align: center;
}

.bold-text {
    font-weight: bold;
}

.signup-button.center {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.logo {
    flex: none;
    margin-right: auto;
    align-self: center;
    font-size: 24px;
    color: #F9FAF8;
}

.main-content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center; /*testing*/
    align-items: stretch;
}

.content-row {
    display: flex;
    flex: 1;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.content-row.flex-start {
    align-items: flex-start;
}

.content-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
}

.content-column.horizontal-images {
    gap: 0px;
    flex: 2;
}

.content-column.description {
    flex: 2;
}

.content-column .quote {
    flex: 0 1 auto;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    margin-left: 64px;
    margin-right: 64px;
}

.content-column .attribution {
    flex: none;
    font-size: 18px;
    text-align: right;
    margin-left: 64px;
    margin-right: 64px;
}

.image-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 200px;
    gap: 8px;
    align-items: center;
}

.content-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    flex: 1;
}

.header-image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border-color: #F9FAF8;
    border-style: solid;
}

.middle-image img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.content-container-1 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 32px 64px;
}

.content-container-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 64px;
}

.content-container-3 {
    display: flex;
    flex: 1;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 32px 64px
}

.content-container-4 {
    display: flex;
    flex: 1;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 16px 64px;
}

.content-row.modal {
    flex: 1;
    gap: 0px;
    margin: 32px 64px;
    padding: 16px;
    border-radius: 10px;
    color: white;
    background-color: #3882F6;
}

.modal * {
    color: white;
}